<!DOCTYPE html>
<html lang='pt-br'>
<head>	
	<title>Controle de Estoques</title>
	<meta charset="utf-8">
    <meta name='viewport' content='width=device-width, minimum-scale=1.0, maximum-scale=1.0'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css">
	<style type="text/css">
    body {
        margin: 0;
        margin-top: 30px;
        padding: 0;
    }
    @media screen and (max-width: 480px) {
        #logo {
            display: none;
        }
        .produto {
        	font-size: .75rem; 
        }
    }

    .produto {
    	margin: 30px 0;
    }

    .produto td.detail {
    	color: #fff;
    	font-weight: bold;
    	width: 30%;
    }
	</style>
</head>

<body class="container">
	<center><img src="src/images/logo.png" class="m-0 p-0" id="logo"></center>

	<center><h1 class="h3 mt-1">Controle de Estoques</h1></center>
	<hr>

	<div class="form-group">
		<input type='number' class='form-control' placeholder='Código' id='busca_codigo'>
		<button class='btn btn-primary mt-3 w-100' id='btn-busca'>Buscar</button>
	</div>
	<hr>

	<h5>Detalhes do Produto</h5>
	<table class="table dark-table produto">
		<tr><td class="bg-dark detail">Código</td><td id="codigo"></td></tr>
		<tr><td class="bg-dark detail">Produto</td><td id="produto"></td></tr>
		<tr><td class="bg-dark detail">Seção</td><td id="secao"></td></tr>
		<tr><td class="bg-dark detail">Quantidade</td><td id="quantidade"></td></tr>		
		<tr><td class="bg-dark detail">Atualização</td><td id="atualizacao"></td></tr>		
	</table>

	<div class="form-group">
		<input type='number' class='form-control' placeholder='Quantidade' id='qtde'>
		<button class='btn btn-danger mt-3 w-100' id='btn-adiciona'>Acicionar</button>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"></script>
	<script src='src/js/estoqueJSON.json'></script>

	<script>
	
		let body = document.querySelector('body');
		let codigo = $('#busca_codigo');
		let btn = $('#btn-busca');		
		let p1 = document.querySelector('#codigo');
		let p2 = document.querySelector('#produto');
		let p3 = document.querySelector('#secao');
		let p4 = document.querySelector('#quantidade');
		let p5 = document.querySelector('#atualizacao');


		$(btn).on('click', function () {
			p1.innerHTML = '';
			p2.innerHTML = '';
			p3.innerHTML = '';
			p4.innerHTML = '';
			p5.innerHTML = '';
			let cod = $(codigo).val();			
			for (let i = 0; i < dados.length; i++) {
				if (cod === dados[i]['Cod']) {					
			        p1.innerHTML = dados[i]['Cod'];
			        p2.innerHTML = dados[i]['Produto'];
			        p3.innerHTML = dados[i]['Secao'];
			        p4.innerHTML = dados[i]['Quantidade'];
			        p5.innerHTML = 'Dados pendentes...';
			        return;
				} 				  		    
			}

			alert('Produto não localizado!');

		})

</script>
</body>
</html>
