{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang='pt-br'>
<head>	
	<title>Controle de Estoques</title>
	<meta charset="utf-8">
    <meta name='viewport' content='width=device-width, minimum-scale=1.0, maximum-scale=1.0'>
	{% bootstrap_css %}
	<style type="text/css">
    body {
        margin: 0;
        margin-top: 30px;
        padding: 0;
    }
    @media screen and (max-width: 480px) {
        #logo {
            display: none;
        }
        .produto {
        	font-size: .75rem; 
        }
        .alert {
    		padding: 15px;
    	}
    }

    .produto {
    	margin: 30px 0;
    }

    .produto td.detail {
    	color: #fff;
    	font-weight: bold;
    	width: 30%;
    }

    .alert span {
    	text-transform: uppercase;
    	float: right;
    }

	</style>
</head>

<body class="container">
	<center><img src="{% static 'images/logo.png' %}" class="m-0 p-0" id="logo"></center>

	<center><h1 class="h3 mt-1">Controle de Estoques</h1></center>
	<hr>

	<!-- Alerta de Sucesso ou Erro de Envio do Formulário -->
	<div class="alert alert-warning alert-dismissible">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<h5>PRODUTO ATUALIZADO</h5>
		<hr>
		<strong>Código:</strong> <span>{{ codigo }}</span><br>
		<strong>Produto:</strong> <span>{{ produto }}</span><br>
		<strong>Adicionado:</strong> <span>{{ quantidade }}</span><br>
		<strong>Estoque Atual:</strong> <span>{{ estoque }}</span><br>
	</div>

	<div class="form-group">
		<input type='number' class='form-control' placeholder='Código' id='busca_codigo'>
		<button class='btn btn-primary mt-3 w-100' id='btn-busca'>Buscar</button>
	</div>
	<hr>

	<h5>Detalhes do Produto</h5>
	<table class="table dark-table produto">
		<tr><td class="bg-dark detail">Código</td><td id="td_codigo"></td></tr>
		<tr><td class="bg-dark detail">Produto</td><td id="td_produto"></td></tr>
		<tr><td class="bg-dark detail">Seção</td><td id="td_secao"></td></tr>
		<tr><td class="bg-dark detail">Qtde Sistema</td><td id="td_quantidade"></td></tr>
	</table>

	<div class="form-group">
		<form id="formulario" method="post" action="#" autocomplete="off">
			{% csrf_token %}
			<input type="hidden" id="codigo" name="codigo">
			<input type="hidden" id="nome" name="nome">
			<input type="hidden" id="secao" name="secao">
			<input type="hidden" id="qtde" name="qtde">

			<input type='number' class='form-control' placeholder='Quantidade' id='contagem' name="contagem">
			<button class='btn btn-danger mt-3 w-100' id='btn-adiciona' type="submit">Acicionar</button>

		</form>
	</div>

	{% bootstrap_javascript jquery='full' %}
	<script src="{% static 'js/estoqueJSON.json' %}"></script>

	<script>

		let contagem = document.querySelector('#contagem');
	
		let body = document.querySelector('body');
		let codigo = $('#busca_codigo');
		let btn = $('#btn-busca');		
		let p1 = document.querySelector('#td_codigo');
		let p2 = document.querySelector('#td_produto');
		let p3 = document.querySelector('#td_secao');
		let p4 = document.querySelector('#td_quantidade');

		let msgBox = $('.alert');

		$(btn).on('click', function () {

			$(msgBox).hide(200);
			$(contagem).focus();

			p1.innerHTML = '';
			p2.innerHTML = '';
			p3.innerHTML = '';
			p4.innerHTML = '';
			let cod = $(codigo).val();			
			for (let i = 0; i < dados.length; i++) {
				if (cod === dados[i]['Cod']) {					
			        p1.innerHTML = dados[i]['Cod'];
			        p2.innerHTML = dados[i]['Produto'];
			        p3.innerHTML = dados[i]['Secao'];
			        p4.innerHTML = dados[i]['Quantidade'];
			        return;
				} 				  		    
			}
			alert('Produto não localizado!');
		})

		let btn_form = $('#btn-adiciona');
		let form = $('#formulario');

		$(form).on('submit', function (e) {
			try {
				let cod_ = document.querySelector('#codigo');
				let nome_ = document.querySelector('#nome');
				let secao_ = document.querySelector('#secao');
				let qtde_ = document.querySelector('#qtde');

				 cod_.value = p1.innerHTML;
				 nome_.value = p2.innerHTML;
				 secao_.value = p3.innerHTML;
				 qtde_.value = p4.innerHTML;

				if (cod_.value != '' && nome_.value != '' && secao_.value != '' && qtde_.value != '') {
				 	form.submit();
				 } else {
				 	e.preventDefault();
					alert('Dados inconsistentes...');
				 }
			}

			catch (e) {
				console.log('Dados inconsistentes...');
			}

		});

</script>
</body>
</html>
